.Attr {
  width: 16em;
  padding: 0 .5em;
  position: relative;

  &>div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
