.CheckboxItem {
  margin-right: 0.5em;
  padding: 0.1em 0;
  cursor: pointer;
  gap: 0.6em;
  .select {
    width: 1em;
    height: 1em;
    border: 1px solid #e2e2e2;
    & > div {
      width: 0.5em;
      height: 0.5em;
      background-color: #666;
    }
  }
  .checkbox-name {
    font-size: 0.7em;
    margin-left: 0.25em;
  }
}
