.DesignLink {
  gap: 0.5em;
  position: relative;
  border: 1px solid var(--design-border-color);
  border-radius: 0.2em;
  padding: 0.4em 0.5em;
  transition: all 0.2s;

  &--focus {
    border-color: var(--design-primary-color);
  }

  &:hover {
    border-color: var(--design-primary-color);
  }

  .value {
    flex: 1;

    .input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding: 0;
      background-color: transparent;
      color: var(--design-text-color1);
    }
  }

  .select {
    cursor: pointer;
    font-size: 0.8em;
  }
}

.DesignLinkPop {
  width: 60%;
  padding: 1em;
  gap: 0.6em;
  display: flex;
  flex-direction: column;

  .group-name {
    font-size: 0.8em;
  }

  .group-list {
    gap: 0.5em;

    .item {
      cursor: pointer;
      padding: 0.3em 0.5em;
      border-radius: 0.4em;
      border: 1PX solid var(--design-primary-color);
      color: var(--design-primary-color);
      font-size: 0.8em;
    }
  }

  .LinkList {
    height: 36em;
    gap: 0.5em;
    .item {
      border-radius: 0.4em;
      padding: 0.5em;
      margin-top: 0.5em;
      border: 1Px solid var(--design-border-color);
      cursor: pointer;
    }
    .list-loading  {
      display: flex;
    }
    .list-empty {
      display: flex;
    }
  }
}
